<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Document</title>
</head>
<body>
    <div class="container">
        <form action="/employees/save" th:object="${employee}" method="post">
            <div class="form-group">
                <label for="first-name">First Name</label>
                <input type="text" th:field="*{firstName}"
                class="form-control" name="first-name" id="first-name" aria-describedby="helpId" placeholder="Enter first name">
            </div>
            <div class="form-group">
                <label for="last-name">Last Name</label>
                <input type="text" th:field="*{lastName}"
                class="form-control" name="last-name" id="last-name" aria-describedby="helpId" placeholder="Enter last name">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" th:field="*{email}"
                class="form-control" name="email" id="email" aria-describedby="helpId" placeholder="Enter email address">
            </div>
            <button type="submit"  class="btn btn-primary">Create Employee</button>
        </form>
    </div>
</body>
</html>